version: '3.8'

services:
  database:
    image: postgres:13
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: npm run dev
    ports: [ "8080:8080" ]
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - database
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev # Change if use nginx
    command: npm run dev

    ports: [ "5173:5173" ]
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  db_data:
