version: '3.8'

services:
  database:
    image: postgres:13
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports: [ "8080:8080" ]
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - database
    env_file:
      - .env

  frontend:
    build: ./frontend
    ports: [ "3000:80" ]
    depends_on:
      - backend

volumes:
  db_data:
